<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>DASH Streaming</title>

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" media="screen">
  <link rel="stylesheet" href="/stylesheets/custom.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <style>
    video {
     width: 640px;
     height: 360px; 
   }
 </style>
</head>
<body>

  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>DASH Streaming</h1>
    </div>    

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">IRAC</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Trends <span class="sr-only">(current)</span></a></li>
            <li><a href="#">History</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-left" role="search">
            
            <button  class="btn btn-default" id="load" >Load</button>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Upload</a></li>
            <li><a href="#">Sign in</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


  <div class="row">
    <div id="videoContainer" class="col-md-9" align="center">
       <video id="dash-video-player" class="embed-responsive-item " src="/clip_monza_manifest.mpd" controls></video>
    </div>  
    <div class="col-md-3">
         <h2>Estadísticas</h2>
         <h3>Vídeo</h3>
         <div class="tab-content">
           <div class="row">
             <label id="videoBuffer" for="buffer">
               Buffer length: 
            </label>
          </div>
          <div class="row">
            <label id="videofps" for="fps">
               Dropped Frames: 
            </label>
          </div>
          <div class="row">
            <label id="videoBitrate" for="bitrate">
               Bitrate: 
            </label>
          </div>
         </div>
         <h3>Audio</h3>
         <div class="tab-content">
           <div class="row">
             <label id="audioBuffer" for="buffer">
               Buffer length: 
            </label>
          </div>
          <div class="row">
            <label id="audiofps" for="fps">
               Dropped Frames: 
            </label>
          </div>
          <div class="row">
            <label id="audioBitrate" for="bitrate">
               Bitrate: 
            </label>
          </div>
         </div>
    </div>  
  </div>
  

  <div class="container">
   
  <div>

	<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  
  <script src="/javascripts/jquery.min.js"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="http://cdn.dashjs.org/latest/dash.all.debug.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/stats.js"></script>
</body>
</html>